{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-10">
            {% for race in activeRaces %}
                {% include "race.html.twig" with {'race': race} %}
            {% endfor %}
        </div>
        <div class="col-sm-2">
            {% if bestRace %}
                <div>
                    <p><h4 class="display-8">The best Race</h4></p>
                    {% include "best.html.twig" with {'race': bestRace, 'horse': bestRace.leader.horse} %}
                </div>
            {% endif %}

            {% if activeRaces %}
                <div>
                    <p><h4 class="display-8">Last Results</h4></p>

                    {% for race in activeRaces %}
                        {% include "last.html.twig" with {'race': race} %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}