{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-10">
            {% include "race.html.twig" %}
            {% include "race.html.twig" %}
            {% include "race.html.twig" %}
        </div>
        <div class="col-sm-2">
            <div>
                <p><h4 class="display-8">The best Race</h4></p>
                {% include "best.html.twig" %}
            </div>

            <div>
                <p><h4 class="display-8">Last Results</h4></p>

                {% include "last.html.twig" %}
                {% include "last.html.twig" %}
                {% include "last.html.twig" %}
                {% include "last.html.twig" %}
                {% include "last.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}