<p>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        Race #{{ race.id }}
    </div>
    <ul class="list-group list-group-flush">

        {% for participant in race.participants %}
            <li class="list-group-item">
                #{{ participant.position }} {{ participant.horse.name }} {{ participant.time }} seconds
            </li>
        {% endfor %}
    </ul>
</div>
</p>