<div class="jumbotron">
    <h4 class="display-8">Race #123 Time: 30 sec</h4>

    <table class="table">
        <tbody>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 75%">75 meters</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 25%">75 meters</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 45%">75 meters</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 55%">75 meters</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 15%">75 meters</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 35%">75 meters</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 75%">75 meters</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">#3 Belka</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: 75%">75 meters</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <hr class="my-4">
    <p>
        <a class="btn btn-primary btn-sm" href="#" role="button">Progress</a>
    </p>
</div>